<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe-Details</title>
</head>
<body>
    <h1>Details</h1>
    <h3>Title: <%=recipe.title%></h3>
    <h3>Description: <%=recipe.description%></h3>
    <h3>ingredients: <%=recipe.ingredients%></h3>
    <h3>instructions: <%=recipe.instructions%></h3>
    <h3>image: <%=recipe.image%></h3>
    
    <a href="/recipe/update/<%=recipe._id%>"> Update</a>
    <a href="/recipe/delete/<%=recipe._id%>">Delete</a>
</body>
</html>